.toast {
    position: fixed;
    top: 20px;
    right: -300px;

    min-width: 250px;

    padding: 15px 20px;

    border-radius: 12px;

    color: white;

    font-weight: bold;

    z-index: 9999;

    transition: 0.4s ease;

    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

/* Show Animation */
.toast.show {
    right: 20px;
}

/* Success */
.toast.success {
    background: #16a34a;
}

/* Error */
.toast.error {
    background: #dc2626;
}

/* Warning */
.toast.warning {
    background: #f59e0b;
}

/* Info */
.toast.info {
    background: #2563eb;
}